{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static 'style1.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_icon.css' %}">
    <link rel="stylesheet" href="{% static 'font.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/faq.js' %}"></script>
    <title>Auto | Lika</title>
</head>
<body style="color: white">
<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Auto | Lika</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'shop' %}"> <i class="material-icons">store</i></a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Why is the moon sometimes out during the day?</span><span
                    class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false"><span
                    class="accordion-title">Why is the sky blue?</span><span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Will we ever discover aliens?</span><span
                    class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How much does the Earth weigh?</span><span
                    class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do airplanes stay up?</span><span
                    class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                    suspendisse potenti.</p>
            </div>
        </div>
    </div>
</div>

<br>
<hr>
<div class="footer">
    <br>
    <div class="container" style="padding-bottom: 10px; margin-top: -5px;">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text" style="margin-top: 13px;">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">LikaInc</a>.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="col-md-2 col-sm-3 col-xs-6" style="margin-right: 24px;">
                    <p style="margin-right: -40px; margin-top: 13px;">Contact |</p></div>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=355000000001&text=Pershendetje%21">
                            <i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="{% url 'contact' %}"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="{% url 'faq' %}"><i class="fa fa-comments-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>